.course-info-container {
    padding-top: 24px;
    padding-right: 24px;
}

.course-info__input {
    font-size: 28px;
    font-weight: 700;
    color: var(--color);

    border: none;
    background: none;
    outline: none;



}